	
	<!-- <div class="ui one column grid"> -->
	<!-- <div class="row"> -->
	<h2 class="ui header ">
		<img src="/assets/images/tool.png" class="ui circular image">
		<span>{{community_info.name}}</span>
	</h2>
	<!-- </div> -->
	<!-- <div class="row"> -->
	<div class="ui segment" scroll-glue="glued">
		<div class="ui comments">
			<div class="comment" ng-repeat="chat in chatlogs | orderBy:'time'">
				<!-- <a class="avatar">
							<img class="ui mini image" src="assets/images/tool.png">
				</a> -->
				<div class="content">
					<a class="author">{{chat.User.user_name}}</a>
					<div class="metadata">
						<span class="date">{{chat.time}}</span>
					</div>
					<div class="text">
						{{chat.content}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- </div> -->
	<div class="row">
		<div class="ui form">
			<div class="field">
				<input type="text" ng-model="liveMessage" placeholder="Say Something">
			</div>
			<div class="ui blue labeled submit icon button" ng-click="sendMessage()">
				<i class="icon edit"></i> Say
			</div>
		</div>
	</div>