<div class="ui container">	
	<!-- <div class="ui one column grid"> -->
	<!-- <div class="row"> -->
	<br>
<h1 class="ui header">
  <img src="{{community_info.photo_url}}">
  <div class="content">
    <span>{{community_info.name}}</span>
    <div class="sub header">{{community_info.description}}</div>
  </div>
</h1>

	<!-- </div> -->
	<!-- <div class="row"> -->

	<div class="ui segment" scroll-glue="glued">
	  <div class="ui top attached label">
        <i class="hotel icon"></i> <%= __('Chatroom') %>
      </div>
		<div class="ui comments">
			<div class="comment" ng-repeat="chat in chatlogs | orderBy:'time'">
				<div class="content">
					<a class="author">{{chat.User.user_name}}</a>
					<div class="metadata">
						<span class="date">{{chat.time}}</span>
					</div>
					<div class="text">
						{{chat.content}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- </div> -->
	<div class="row">
		<div class="ui form">
			<div class="field">
				<input type="text" ng-model="liveMessage" placeholder="Say Something">
			</div>
			<div class="ui blue labeled submit icon button" ng-click="sendMessage()">
				<i class="icon edit"></i> Say
			</div>
		</div>
	</div>
	<br>
		<div class="row ">
<h2 class="ui header">
  <img src="assets/images/tool.png">
  <div class="content">
    <%= __('Members') %>
    <div class="sub header"><%= __('Toolmans') %></div>
  </div>
</h2>
	</div>
	<div class="ui horizontal list selection huge">
		<div class="item" ng-repeat="tool in members" ng-click="user_info(tool.User.user_id)" ng-hide="delete">
			<img class="ui avatar image" src="{{tool.User.photo_url}}">
			<div class="content">
				<div class="header" ng-bind="tool.User.user_name"></div>
				<div ng-bind="tool.User.account"></div>
			</div>
		</div>
	</div>
	</div>