<br>


<div class="ui divided items container">
<h2 class="ui header">
  <img src="assets/images/tool.png">
  <div class="content">
    Communities
    <div class="sub header">'Create groups with other toolmans</div>
  </div>

</h2>
<div class="ui button" ng-click="create()">
<i class="large icons">
  <i class="big thin circle icon"></i>
  <i class="users icon"></i>
</i>
Form a group
</div>
	<div class="item" ng-repeat="community in communities">
		<div class="image">
			<img src="{{community.Community.photo_url}}">
		</div>
		<div class="content">
			<a class="header" ng-bind="community.Community.name"></a>
			<div class="description" ng-bind="community.Community.description">
			</div>
			<div class="extra">
				<!-- <div class="ui label">Bike</div> -->
				<div class="ui right floated primary button" ng-click="view_community(community.Community.community_id)">
					View Community
					<i class="right chevron icon"></i>
				</div>
			</div>
		</div>
	</div>
</div>