<div class="ui middle aligned four column centered grid">
	<div class="row">
		<h2 class="ui header">
		<img src="/assets/images/tool.png" class="ui circular image">
		Recent
		</h2>
	</div>
	<div class="row">
		<div class="ui cards">
			<div class="card">
				<div class="content">
					<div class="header">Elliot Fu</div>
					<div class="description">
						Elliot Fu is a film-maker from New York.
					</div>
				</div>
				<div class="ui bottom attached button">
					<i class="add icon"></i>
					View
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="header">Veronika Ossi</div>
					<div class="description">
						Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
					</div>
				</div>
				<div class="ui bottom attached button">
					<i class="add icon"></i>
					View
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="header">Jenny Hess</div>
					<div class="description">
						Jenny is a student studying Media Management at the New School
					</div>
				</div>
				<div class="ui bottom attached button">
					<i class="add icon"></i>
					View
				</div>
			</div>
		</div>

	</div>
		<div class="row">
		<h2 class="ui header">
		<img src="/assets/images/tool.png" class="ui circular image">
		Transportation
		</h2>
	</div>
		<div class="row">
		<div class="ui cards">
			<div class="card">
				<div class="content">
					<div class="header">Elliot Fu</div>
					<div class="description">
						Elliot Fu is a film-maker from New York.
					</div>
				</div>
				<div class="ui bottom attached button">
					<i class="add icon"></i>
					View
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="header">Veronika Ossi</div>
					<div class="description">
						Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
					</div>
				</div>
				<div class="ui bottom attached button">
					<i class="add icon"></i>
					View
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="header">Jenny Hess</div>
					<div class="description">
						Jenny is a student studying Media Management at the New School
					</div>
				</div>
				<div class="ui bottom attached button">
					<i class="add icon"></i>
					View
				</div>
			</div>
		</div>

	</div>
</div>>