<div class="ui inverted vertical masthead center aligned segment ">
	<div class="ui text two column grid center aligned">
		<div class="six wide column"><img class="ui wireframe medium image" src="/assets/images/tool.png"></div>
		<div class="eight wide column middle aligned ">
			<h1 class="ui inverted header">
			Tool or get tooled
			</h1>
			<h2>Tool whoever you want or get tooled by anyone.</h2>
			<div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
		</div>
	</div>
</div>
<div class="ui vertical stripe quote segment">
	<div class="ui equal width stackable internally celled grid">
		<div class="center aligned row">
			<div class="column">
				<h3>"What a Toolman!"</h3>
				<p>That is what they all say about us</p>
			</div>
			<div class="column">
				<div class="ui grid row">
					<div class="four wide column middle aligned"> <img class="ui circular tiny image " src="/assets/images/pu.jpeg"></div>
					<div class="twelve wide column middle aligned"><h3 class="right">"I tool, therfore i am."</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div class="ui middle aligned four column centered grid">
		<div class="row">
				<div class="column">
						<img  class="ui wireframe image" src="/assets/images/image.png">
						<img class="ui wireframe image" src="/assets/images/image.png">
				</div>
				<div class="column">
						
				</div>
				<div class="column">
						<img class="ui wireframe image" src="/assets/images/image.png">
						<img class="ui wireframe image" src="/assets/images/image.png">
				</div>
		</div>
</div> -->