<section id="banner">
	<div class="inner">
		<header>
			<h2>IMTool</h2>
		</header>
		<p><strong>Tool or get tooled</strong></p>
		<br>
		<p>Tool whoever you want <br>or get tooled by anyone.</p>
		<br>
		<div class="ui huge inverted  button" ng-click="show_menu()">Get Started <i class="right arrow icon"></i></div>
	</div>
</section>
<div class="ui container">
<br>

	<div class="ui stripe theming vertical segment">
  <div class="ui stackable very relaxed two column grid container">
    <div class="center aligned column">
      <h1 class="ui icon header">
        <img src="/assets/images/pu2.jpg" class="ui circular image">
        "I tool, therfore i am."
      </h1>

    </div>
    <div class="center aligned middle aligned column">

  <div class="ui large statistic">
    <div class="text value">
      More than<br>
      Five
    </div>
    <div class="label">
      Signups
    </div>
  </div>
    </div>
  </div>

</div>
<br>
<div class="ui center aligned container">

	<h2 class="ui icon header">
  <i class="user icon"></i>
  <div class="content">
    For users
    <div class="sub header">Start tooling with ease.</div>
  </div>
</h2>
</div>
	<div class="ui center aligned container">

		<div class="ui cnetered huge steps">
			<div class="step">
				<i class="find icon"></i>
				<div class="content">
					<div class="title">Host</div>
					<div class="description">Open a mission</div>
				</div>
			</div>
			<div class="step">
				<i class="add user icon"></i>
				<div class="content">
					<div class="title">Choose</div>
					<div class="description">Choose your toolmans</div>
				</div>
			</div>
			<div class="step">
				<i class="truck icon"></i>
				<div class="content">
					<div class="title">Watch them work</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="feature alternate ui stripe vertical segment">
  <div class="ui three column center aligned divided relaxed stackable grid container">
    <div class="row">
      <div class="column">
        <h2 class="ui icon header">
          <i class="ui configure icon"></i>
          More than <b>5</b> toolmans!
        </h2>
        <p>Get them to work for you!</p>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <i class="ui user icon"></i>
          Find your own user
        </h2>
        <p>"What a Toolman!"<br>That is what they all say about me.</p>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <i class="ui github icon"></i>
          Open source
        </h2>
        <p>
          IMTool is a <b>free open source</b> project.
        </p>
        <a href="https://github.com/wayne89232/imtool" class="ui large button">Visit GitHub</a>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
		/* Banner */
@-moz-keyframes reveal-banner {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes reveal-banner {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-ms-keyframes reveal-banner {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes reveal-banner {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#banner {
	background-attachment: scroll, scroll, scroll, fixed;
	background-color: #645862;
	background-image: url("images/light-bl.svg"), url("images/light-br.svg"), url("images/overlay.png"), url("assets/images/toolset.png");
	background-position: bottom left, bottom right, top left, top center;
	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
	background-size: 25em, 25em, auto, cover;
	color: #fff;
	cursor: default;
	padding: 6em 0;
	text-align: center;
}
	#banner .inner {
		/*-moz-animation: reveal-banner 1s 0.25s ease-in-out;
		-webkit-animation: reveal-banner 1s 0.25s ease-in-out;
		-ms-animation: reveal-banner 1s 0.25s ease-in-out;
		animation: reveal-banner 1s 0.25s ease-in-out;
		-moz-animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		-ms-animation-fill-mode: forwards;
		animation-fill-mode: forwards;*/
		background: rgba(49, 46, 43, 0.37);
		color: #fff;
		display: inline-block;
		opacity: 1;
		padding: 3em;
		text-align: center;
	}
		#banner .inner header {
			display: inline-block;
			border-bottom: solid 2px;
			border-top: solid 2px;
			margin: 0 0 2em 0;
			padding: 3px 0 3px 0;
		}
			#banner .inner header h2 {
				border-bottom: solid 2px;
				border-top: solid 2px;
				font-size: 2.5em;
				font-weight: 900;
				letter-spacing: 0.2em;
				margin: 0;
				padding-left: 0.05em;
				position: relative;
				text-transform: uppercase;
			}
		#banner .inner p {
			letter-spacing: 0.1em;
			margin: 0;
			text-transform: uppercase;
		}
			#banner .inner p a {
				color: inherit;
				font-weight: 400;
				text-decoration: none;
			}
		#banner .inner footer {
			margin: 2em 0 0 0;
		}
</style>
<!-- <div class="ui inverted vertical masthead center aligned segment ">
		<div class="ui text two column grid center aligned">
				<div class="six wide column"><img class="ui wireframe medium image" src="/assets/images/tool.png"></div>
				<div class="eight wide column middle aligned ">
						<h1 class="ui inverted header">
						Tool or get tooled
						</h1>
						<h2>Tool whoever you want or get tooled by anyone.</h2>
						<div class="ui huge primary button" ng-click="create_mission()">Get Started <i class="right arrow icon"></i></div>
				</div>
		</div>
</div>
<div class="ui container">
		<div class="ui vertical stripe quote segment">
				<div class="ui equal width stackable internally celled grid">
						<div class="center aligned row">
								<div class="column">
										<h3>"What a Toolman!"</h3>
										<p>That is what they all say about us</p>
								</div>
								<div class="column">
										<div class="ui grid row">
												<div class="four wide column middle aligned"> <img class="ui circular tiny image " src="/assets/images/pu.jpeg"></div>
												<div class="twelve wide column middle aligned"><h3 class="right">"I tool, therfore i am."</h3>
												</div>
										</div>
								</div>
						</div>
						
				</div>
		</div>
		<h2>For Users</h2>
		<h4>Start tooling with ease!</h4>
		<div class="ui centered">
				<div class="ui huge steps">
						<div class="step">
								<i class="find icon"></i>
								<div class="content">
										<div class="title">Host</div>
										<div class="description">Open a mission</div>
								</div>
						</div>
						<div class="step">
								<i class="add user icon"></i>
								<div class="content">
										<div class="title">Choose</div>
										<div class="description">Choose your loyal tools</div>
								</div>
						</div>
						<div class="step">
								<i class="truck icon"></i>
								<div class="content">
										<div class="title">Start your tooling</div>
								</div>
						</div>
				</div>
		</div>
</div> -->