<div class="ui middle aligned four column centered grid">
	<div class="row">
		<div class="column">
			<img  class="ui wireframe image" src="/assets/images/image.png">
			<img class="ui wireframe image" src="/assets/images/image.png">
		</div>
		<div class="column">
			<img class="ui wireframe image" src="/assets/images/tool.png">
		</div>
		<div class="column">
			<img class="ui wireframe image" src="/assets/images/image.png">
			<img class="ui wireframe image" src="/assets/images/image.png">
		</div>

		
	</div>
</div>