<br>
<div class="ui divided items container">
<h1 class="ui header">
  <img src="assets/images/tool.png">
  <div class="content">
    <%= __('Missions') %>
    <div class="sub header"><%= __('hello, toolmans') %></div>
  </div>
</h1>

	<div class="item" ng-repeat="mission in missions | orderBy:'-start_time'">
		<div class="image">
			<img src="{{mission.User.photo_url}}">
		</div>
		<div class="content">
			<a class="header" ng-bind="mission.title"></a>
			<div class="meta">
				<span class="cinema" ng-bind="mission.start_time">2016.11.23</span>
			</div>
			<div class="description" ng-bind="mission.content">
			</div>
			<div class="extra">
				<!-- <div class="ui label">Bike</div> -->
				<div class="ui right floated primary button" ng-click="view_mission(mission.mission_id)">
					<%= __('View Missions') %>
					<i class="right chevron icon"></i>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div class="item">
		<div class="image">
			<img src="/assets/images/ee.jpg">
		</div>
		<div class="content">
			<a class="header">徵女一舍到管院單程前往車夫一名 >< </a>
			<div class="meta">
				<span class="cinema">2016.11.21 1:00pm</span>
			</div>
			<div class="description">
				<p></p>
			</div>
			<div class="extra">
				<div class="ui label">Bike</div>
				<div class="ui label">Handsome?</div>
				<div class="ui right floated primary button">
					View Mission
					<i class="right chevron icon"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="image">
			<img src="/assets/images/stanley.jpg">
		</div>
		<div class="content">
			<a class="header">徵求管理學院便當外送</a>
			<div class="meta">
				<span class="cinema">2016.11.18 11:30am</span>
			</div>
			<div class="description">
				<p></p>
			</div>
			<div class="extra">
				<div class="ui label">Delivery</div>
				<div class="ui right floated primary button">
					View Mission
					<i class="right chevron icon"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="image">
			<img src="/assets/images/nini.jpg">
		</div>
		<div class="content">
			<a class="header">徵求程式設計課程作業小助教 救救可憐小女子</a>
			<div class="meta">
				<span class="cinema">2016.11.27 5:00pm</span>
			</div>
			<div class="description">
				<p></p>
			</div>
			<div class="extra">
				<div class="ui label">Programming</div>
				<div class="ui label">Tutor</div>
				<div class="ui label">Patient</div>
				<div class="ui right floated primary button">
					View Mission
					<i class="right chevron icon"></i>
				</div>
			</div>
		</div>
	</div> -->
</div>