<div class="ui middle aligned four column centered grid container">
	<div class="ui top attached tabular menu">
		<a class="item active" data-tab="tool"> Tool</a>
		<a class="item" data-tab="user">User</a>
	</div>

	<div class="ui bottom attached tab segment active" data-tab="tool">
		<div class="row">
			<h2 class="ui header">
			<img src="/assets/images/tool.png" class="ui circular image">
			Tool Total Ranking
			</h2>
		</div>
		<div class="row">
			<table class="ui padded celled center aligned sortable table">
		      <thead>
		      	<th></th>
		        <th>User ID</th>
		        <th class="sorted descending">Avg Ranking</th>
		        <th>Missions</th>
		        <th></th>
		      </thead>
		      <tbody>
		        <tr ng-repeat="tool in toolTotalList">
		        <td>
					<img ng-src="{{tool.imgUrl}}" class="ui circular tiny image middle aligned">
				</td>
				<td>{{tool.account}}</td>
				<td>
					<div class="ui star rating" data-rating="{{tool.star}}" data-max-rating="5"></div>
					<div class="ui tiny statistic">
						<div class="value">{{tool.rank}}</div>
					</div>
				</td>
				<td>{{tool.completedMission}}</td>
				<td>
					<div class="ui floated primary button">View Profile</div>
				</td>
		        </tr>
		        <!-- <tr>
		          <td>
		          	<img src="/assets/images/wei.jpg" class="ui circular tiny image middle aligned">
		          </td>
		          <td>wayne89232</td>
		          <td>
		          	<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
		          	<div class="ui tiny statistic">
		          		<div class="value">
		          			4.1
		          		</div>
		          	</div>
		          </td>
		          <td>60</td>
		          <td>
		          	<div class="ui floated primary button">
		          		View Profile
		          	</div>
		          </td>
		        </tr>
		        <tr>
		          <td>
		          	<img src="/assets/images/hong.jpg" class="ui circular tiny image middle aligned">
		          </td>
		          <td>dilmahlee</td>
		          <td>
		          	<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
		          	<div class="ui tiny statistic">
		          		<div class="value">
		          			3.7
		          		</div>
		          	</div>
		          </td>
		          <td>35</td>
		          <td>
		          	<div class="ui floated primary button">
		          		View Profile
		          	</div>
		          </td>
		        </tr> -->
		      </tbody>
		    </table>

		</div>
			<div class="row">
			<h2 class="ui header">
			<img src="/assets/images/tool.png" class="ui circular image">
			Tool Delivery Ranking
			</h2>
		</div>
		<div class="row">
			<table class="ui padded celled center aligned sortable table">
		      <thead>
		      	<th></th>
		        <th>User ID</th>
		        <th class="sorted descending">Avg Ranking</th>
		        <th>Missions</th>
		        <th></th>
		      </thead>
		      <tbody>
		        <tr>
		          <td>
		          	<img src="/assets/images/JianYi.jpg" class="ui circular tiny image middle aligned">
		          </td>
		          <td>
      				ianlee1228
		          </td>
		          <td>
		          	<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
		          	<div class="ui tiny statistic">
		          		<div class="value">
		          			4.8
		          		</div>
		          	</div>
		          </td>
		          <td>50</td>
		          <td>
		          	<div class="ui floated primary button">
		          		View Profile
		          	</div>
		          </td>
		        </tr>
		        <tr>
		          <td>
		          	<img src="/assets/images/wei.jpg" class="ui circular tiny image middle aligned">
		          </td>
		          <td>wayne89232</td>
		          <td>
		          	<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
		          	<div class="ui tiny statistic">
		          		<div class="value">
		          			4.1
		          		</div>
		          	</div>
		          </td>
		          <td>60</td>
		          <td>
		          	<div class="ui floated primary button">
		          		View Profile
		          	</div>
		          </td>
		        </tr>
		        <tr>
		          <td>
		          	<img src="/assets/images/hong.jpg" class="ui circular tiny image middle aligned">
		          </td>
		          <td>dilmahlee</td>
		          <td>
		          	<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
		          	<div class="ui tiny statistic">
		          		<div class="value">
		          			3.7
		          		</div>
		          	</div>
		          </td>
		          <td>35</td>
		          <td>
		          	<div class="ui floated primary button">
		          		View Profile
		          	</div>
		          </td>
		        </tr>
		      </tbody>
		    </table>
		</div>
	</div>

	<div class="ui bottom attached tab segment" data-tab="user">
			<div class="row">
				<h2 class="ui header">
				<img src="/assets/images/tool.png" class="ui circular image">
				User1 Ranking
				</h2>
			</div>
			<div class="row">
				<table class="ui padded celled center aligned sortable table">
			      <thead>
			        <th>User ID</th>
			        <th class="sorted descending">Avg Ranking</th>
			        <th>Missions</th>
			        <th></th>
			      </thead>
			      <tbody>
			        <tr>
			          <td>ianlee1228</td>
			          <td>
			          	<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
			          	<div class="ui tiny statistic">
			          		<div class="value">
			          			4.8
			          		</div>
			          	</div>
			          </td>
			          <td>50</td>
			          <td>
			          	<div class="ui floated primary button">
			          		View Profile
			          	</div>
			          </td>
			        </tr>
			        <tr>
			          <td>wayne89232</td>
			          <td>
			          	<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
			          	<div class="ui tiny statistic">
			          		<div class="value">
			          			4.1
			          		</div>
			          	</div>
			          </td>
			          <td>60</td>
			          <td>
			          	<div class="ui floated primary button">
			          		View Profile
			          	</div>
			          </td>
			        </tr>
			        <tr>
			          <td>cosrick</td>
			          <td>
			          	<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
			          	<div class="ui tiny statistic">
			          		<div class="value">
			          			3.7
			          		</div>
			          	</div>
			          </td>
			          <td>35</td>
			          <td>
			          	<div class="ui floated primary button">
			          		View Profile
			          	</div>
			          </td>
			        </tr>
			        <tr>
			          <td>dilmahlee</td>
			          <td>
			          	<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
			          	<div class="ui tiny statistic">
			          		<div class="value">
			          			3.2
			          		</div>
			          	</div>
			          </td>
			          <td>40</td>
			          <td>
			          	<div class="ui floated primary button">
			          		View Profile
			          	</div>
			          </td>
			        </tr>
			      </tbody>
			    </table>

			</div>
				<div class="row">
				<h2 class="ui header">
				<img src="/assets/images/tool.png" class="ui circular image">
				User2 Ranking
				</h2>
			</div>
			<div class="row">
					<table class="ui padded celled center aligned sortable table">
				      <thead>
				        <th>User ID</th>
				        <th class="sorted descending">Avg Ranking</th>
				        <th>Missions</th>
				        <th></th>
				      </thead>
				      <tbody>
				        <tr>
				          <td>ianlee1228</td>
				          <td>
				          	<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
				          	<div class="ui tiny statistic">
				          		<div class="value">
				          			4.8
				          		</div>
				          	</div>
				          </td>
				          <td>50</td>
				          <td>
				          	<div class="ui floated primary button">
				          		View Profile
				          	</div>
				          </td>
				        </tr>
				        <tr>
				          <td>wayne89232</td>
				          <td>
				          	<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
				          	<div class="ui tiny statistic">
				          		<div class="value">
				          			4.1
				          		</div>
				          	</div>
				          </td>
				          <td>60</td>
				          <td>
				          	<div class="ui floated primary button">
				          		View Profile
				          	</div>
				          </td>
				        </tr>
				        <tr>
				          <td>cosrick</td>
				          <td>
				          	<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
				          	<div class="ui tiny statistic">
				          		<div class="value">
				          			3.7
				          		</div>
				          	</div>
				          </td>
				          <td>35</td>
				          <td>
				          	<div class="ui floated primary button">
				          		View Profile
				          	</div>
				          </td>
				        </tr>
				        <tr>
				          <td>dilmahlee</td>
				          <td>
				          	<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
				          	<div class="ui tiny statistic">
				          		<div class="value">
				          			3.2
				          		</div>
				          	</div>
				          </td>
				          <td>40</td>
				          <td>
				          	<div class="ui floated primary button">
				          		View Profile
				          	</div>
				          </td>
				        </tr>
				      </tbody>
				    </table>	

			</div>
	</div>
</div>	
