<br>
<div class="ui middle aligned four column centered  container">
	<div class="ui top attached tabular menu">
		<a class="item active" data-tab="tool"> Tool</a>
		<a class="item" data-tab="user">User</a>
	</div>
	
	<div class="ui bottom attached tab segment active" data-tab="tool">
		<!-- Tool Total Rank -->
		<div class="ui middle aligned centered four column grid">
			<div class="row">
				<h2 class="ui header">
				<img src="/assets/images/tool.png" class="ui circular image">
				Missions Completed
				</h2>
			</div>
			<div class="ui divider"></div>
			<div class="row ">
				<div class="column ">
					<img class="ui small circular image" src="assets/images/pu2.jpg">
					<div class="ui statistic">
						<div class="value">
							9
						</div>
						<div class="label">
							Missions completed
						</div>
					</div>
				</div>
				<div class="column"><img class="ui small circular image" src="assets/images/JianYi.jpg">
					<div class="ui statistic">
						<div class="value">
							7
						</div>
						<div class="label">
							Missions completed
						</div>
					</div>
				</div>
				<div class="column">
					<img class="ui small circular image" src="assets/images/wei.jpg">
					<div class="ui statistic">
						<div class="value">
							2
						</div>
						<div class="label">
							Missions completed
						</div>
					</div>
				</div>
			</div>
		<br>
		<!-- Tool Tag Rank -->
		<div class="row">
			<h2 class="ui header">
			<img src="/assets/images/tool.png" class="ui circular image">
			Tool Quality
			</h2>
			<!-- <select ng-model="toolTag" ng-init="toolTag = tagModel[0]" ng-options="m.value for m in tagModel" ng-change="tagChange()">
			</select> -->
		</div>
		<div class="ui divider"></div>
		<div class="row">
				<div class="column ">
					<img class="ui small circular image" src="assets/images/JianYi.jpg">
					<div class="ui statistic">
						<div class="value">
							5
						</div>
						<div class="label">
							Avg Ranking
						</div>
					</div>
				</div>
				<div class="column"><img class="ui small circular image" src="assets/images/pu2.jpg">
					<div class="ui statistic">
						<div class="value">
							4
						</div>
						<div class="label">
							Avg Ranking
						</div>
					</div>
				</div>
				<div class="column">
					<img class="ui small circular image" src="assets/images/wei.jpg">
					<div class="ui statistic">
						<div class="value">
							3
						</div>
						<div class="label">
							Avg Ranking
						</div>
					</div>
				</div>
<!-- 			<table class="ui padded celled center aligned sortable table">
				<thead>
					<th></th>
					<th>User ID</th>
					<th class="sorted descending">Avg Ranking</th>
					<th>Missions</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="tool in toolTagList">
						<td>
							<img ng-src="{{tool.imgUrl}}" class="ui circular tiny image middle aligned">
						</td>
						<td>{{tool.account}}</td>
						<td>
							<div class="ui star rating" data-rating="{{tool.star}}" data-max-rating="5"></div>
							<div class="ui tiny statistic">
								<div class="value">{{tool.rank}}</div>
							</div>
						</td>
						<td>{{tool.completedMission}}</td>
						<td>
							<div class="ui floated primary button">View Profile</div>
						</td>
					</tr>
				</tbody>
			</table> -->
		</div>
		</div>
	</div>
	<div class="ui bottom attached tab segment" data-tab="user">
		<!-- User Total Rank -->
		<div class="row">
			<h2 class="ui header">
			<img src="/assets/images/tool.png" class="ui circular image">
			User Tool Ranking
			</h2>
		</div>
		<div class="row">
			<table class="ui padded celled center aligned sortable table">
				<thead>
					<th>User ID</th>
					<th class="sorted descending">Avg Ranking</th>
					<th>Missions</th>
					<th></th>
				</thead>
				<tbody>
					<tr>
						<td>ianlee1228</td>
						<td>
							<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
							<div class="ui tiny statistic">
								<div class="value">
									4.8
								</div>
							</div>
						</td>
						<td>50</td>
						<td>
							<div class="ui floated primary button">
								View Profile
							</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		<!-- User Tag Rank -->
		<div class="row">
			<h2 class="ui header">
			<img src="/assets/images/tool.png" class="ui circular image">
			User Tag Ranking
			</h2>
		</div>
		<div class="row">
			<table class="ui padded celled center aligned sortable table">
				<thead>
					<th>User ID</th>
					<th class="sorted descending">Avg Ranking</th>
					<th>Missions</th>
					<th></th>
				</thead>
				<tbody>
					<tr>
						<td>ianlee1228</td>
						<td>
							<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
							<div class="ui tiny statistic">
								<div class="value">
									4.8
								</div>
							</div>
						</td>
						<td>50</td>
						<td>
							<div class="ui floated primary button">
								View Profile
							</div>
						</td>
					</tr>
					<tr>
						<td>wayne89232</td>
						<td>
							<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
							<div class="ui tiny statistic">
								<div class="value">
									4.1
								</div>
							</div>
						</td>
						<td>60</td>
						<td>
							<div class="ui floated primary button">
								View Profile
							</div>
						</td>
					</tr>
					<tr>
						<td>cosrick</td>
						<td>
							<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
							<div class="ui tiny statistic">
								<div class="value">
									3.7
								</div>
							</div>
						</td>
						<td>35</td>
						<td>
							<div class="ui floated primary button">
								View Profile
							</div>
						</td>
					</tr>
					<tr>
						<td>dilmahlee</td>
						<td>
							<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
							<div class="ui tiny statistic">
								<div class="value">
									3.2
								</div>
							</div>
						</td>
						<td>40</td>
						<td>
							<div class="ui floated primary button">
								View Profile
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- 			<table class="ui padded celled center aligned sortable table">
	<thead>
		<th></th>
		<th>User ID</th>
		<th class="sorted descending">Avg Ranking</th>
		<th>Missions</th>
		<th></th>
	</thead>
	<tbody>
		<tr ng-repeat="tool in toolTotalList">
			<td>
										<img ng-src="{{tool.imgUrl}}" class="ui circular tiny image middle aligned">
				</td>
				<td>{{tool.account}}</td>
				<td>
										<div class="ui star rating" data-rating="{{tool.star}}" data-max-rating="5"></div>
										<div class="ui tiny statistic">
																<div class="value">{{tool.rank}}</div>
										</div>
				</td>
				<td>{{tool.completedMission}}</td>
				<td>
										<div class="ui floated primary button">View Profile</div>
				</td>
		</tr>
	</tbody>
</table> -->