<div class="ui primary button" ng-click="missionCleared()">mission clear</div>

<div class="ui modal small">
	<div class="header">Mission Cleared</div>
	<div class="content">
		<div class="ui form">
			<div class="field">
				<label>Rating</label>
				<div class="ui star rating" data-max-rating="5"></div>
			</div>
			<div class="field">
				<label>Comment</label>
				<textarea></textarea>
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="ui ok button">Save Comment</div>
		<div class="ui cancel button">Cancel</div>
	</div>
</div>