<div class="ui items">
	<div class="item">
		<div class="image">
			<img src="/assets/images/image.png">
		</div>
		<div class="content">
			<a class="header">Name</a>
			<div class="meta">
				<span>Description</span>
			</div>
			<div class="description">
			</div>
			<div class="extra">
				Additional Details
			</div>
		</div>
	</div>
</div>
<div class="ui middle aligned two column centered grid">
	<div class="row">
		<div class="column">
			<table class="ui selectable inverted table">
				<thead>
					<tr>
						<th>Mission</th>
						<th>Status</th>
						<th class="right aligned">Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>hw1</td>
						<td>Done</td>
						<td class="right aligned">1</td>
					</tr>
					<tr>
						<td>hw2</td>
						<td>Done</td>
						<td class="right aligned">1</td>
					</tr>
					<tr>
						<td>hw3</td>
						<td>Done</td>
						<td class="right aligned">1</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="column">
			<table class="ui selectable inverted table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th class="right aligned">Notes</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>John</td>
						<td>Approved</td>
						<td class="right aligned">None</td>
					</tr>
					<tr>
						<td>Jamie</td>
						<td>Approved</td>
						<td class="right aligned">Requires call</td>
					</tr>
					<tr>
						<td>Jill</td>
						<td>Denied</td>
						<td class="right aligned">None</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>