<br>
<div class="ui items container">
	<div class="item">
		<div class="image">
			<img src="{{user_info.photo_url}}">
		</div>
		<div class="content">
			<a class="header" ng-bind="user_info.user_name"></a>
			<div class="meta">
				<span ng-bind="user_info.gender"></span>
			</div>
			<h4>Skills</h4>
			<div class="extra">
					<div class="ui label" ng-repeat="skill in skill_list">
						<div ng-bind="skill.Skill.skill"></div>
					</div>
			</div>
			<div class="ui header" ng-click="editUserInfo()">
				<img class="ui image" src="/assets/images/tool.png">
				<div class="content">
				  Edit
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui divider"></div>
<div class="ui middle aligned two column centered grid container ">
	<div class="row">
		<div class="column">
			<table class="ui selectable basic table">
				<thead>
					<tr>
						<th>Mission List</th>
						<th>User</th>
						<th class="right aligned">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mission in tool_mission" ng-click="view_mission(mission.mission_id)">
						<td ng-bind="mission.Mission.title"></td>
						<td>J</td>
						<td ng-bind="mission.Mission.state" class="right aligned"> - </td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="column">
			<table class="ui selectable basic table">
				<thead>
					<tr>
						<th>Mission hosted</th>
						<th>Status</th>
						<th class="right aligned">Tools</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mission in user_mission" ng-click="view_mission(mission.mission_id)">
						<td ng-bind="mission.title"></td>
						<td ng-bind="mission.state"></td>
						<td class="right aligned">2</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>




<div class="ui modal editUserInfo">
	<div class="ui text container">
	    <div class="ui attached icon info message">
	    <i class="help circle icon"></i>
	    <div class="content">
	      <h1>Edit</h1>
	    </div>
	  </div>
	    <div class="ui segment">

	    <form class="ui form">
	        <h4 class="ui dividing header">User Information</h4>

	        <div class="field">
	            <label>Account</label>
	            <div class="fields">
	                <input type="text" placeholder="Account" ng-model="user_info.account" disabled>
	            </div>
	        </div>
	        <div class="two fields">
	            <div class="field">
	                <label>Name</label>
	                <input type="text"  placeholder="Your name" ng-model="user_info.user_name">
	            </div>
	<div class="field">
	<label>Gender</label>
	          <select ng-model="gender" ng-options="m.value for m in genderModel">
	            <!-- <option value="">{{user_info.gender}}</option> -->
	          </select>
	        </div>
	        </div>
	        <div class="field">
	            <label>Image</label>
	            <img ng-src="{{user_info.photo_url}}" class="ui mini image">
	            <input type="file" ng-model="uploadImage" ngf-select="test()" ngf-max-height="1000" ngf-max-size="1MB">
	            <button ng-click="uploadImageFile(uploadImage)">Upload</button>
	            <img ngf-src="uploadImage">
	        </div>
	        <h4 class="ui dividing header">Skill Information</h4>
	        <div class="field">
	            <label>Skills</label>
	            <select class="ui fluid search dropdown" id="skills" multiple="" ng-model="skills">
	                <option value="">Add your own if not here</option>
	                <option value="1">1</option>
	                <option value="2">2</option>
	                <option value="3">3</option>
	            </select>
	        </div>
	        <h4 class="ui dividing header">Locations</h4>
	        <div class="field">
	            <label>Where to tool you or be tooled</label>
	            <select class="ui fluid search dropdown" multiple="">
	                <option value="">Add your own if not here</option>
	                <option value="1">1</option>
	                <option value="2">2</option>
	                <option value="3">3</option>
	            </select>
	        </div>
	        <div class="ui segment">
	            <div class="field">
	                <div class="ui toggle checkbox">
	                    <input type="checkbox" name="gift" tabindex="0" class="hidden">
	                    <label>Receive notification letters</label>
	                </div>
	            </div>
	        </div>
	        <div class="ui button" ng-click="edit()" tabindex="0">Edit Confirm</div>
	    </form>
	    </div>
	</div>
</div>