<div class="ui items container">
	<div class="item">
		<div class="image">
			<img src="{{user_info.photo_url}}">
		</div>
		<div class="content">
			<a class="header" ng-bind="user_info.user_name"></a>
			<div class="meta">
				<span ng-bind="user_info.gender"></span>
			</div>
			<h4>Skills</h4>
			<div class="extra">
					<div class="ui label" ng-repeat="skill in skill_list">
						<div ng-bind="skill.Skill.skill"></div>
					</div>
			</div>
		</div>
	</div>
</div>
<div class="ui divider"></div>
<div class="ui middle aligned two column centered grid container ">
	<div class="row">
		<div class="column">
			<table class="ui selectable basic table">
				<thead>
					<tr>
						<th>Mission List</th>
						<th>User</th>
						<th class="right aligned">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mission in tool_mission" ng-click="view_mission(mission.mission_id)">
						<td ng-bind="mission.Mission.title"></td>
						<td>J</td>
						<td ng-bind="mission.Mission.state" class="right aligned"> - </td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="column">
			<table class="ui selectable basic table">
				<thead>
					<tr>
						<th>Mission hosted</th>
						<th>Status</th>
						<th class="right aligned">Tools</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mission in user_mission" ng-click="view_mission(mission.mission_id)">
						<td ng-bind="mission.title"></td>
						<td ng-bind="mission.state"></td>
						<td class="right aligned">2</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>