<div class="ui items container">
	<div class="item">
		<div class="image">
			<img src="/assets/images/pu2.jpg">
		</div>
		<div class="content">
			<a class="header">Pu</a>
			<div class="meta">
				<span>Man</span>
			</div>
<!-- 			<div class="description">
				Contents
			</div> -->
			<h4>Skills</h4>
			<div class="extra">
									<div class="ui label">Bike</div>
					<div class="ui label">$$</div>
			</div>
		</div>
	</div>
</div>
<div class="ui divider"></div>
<div class="ui middle aligned two column centered grid container ">
	<div class="row">
		<div class="column">
			<table class="ui selectable basic table">
				<thead>
					<tr>
						<th>Completed Missions</th>
						<th>User</th>
						<th class="right aligned">Rating</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>買早餐</td>
						<td>A</td>
						<td class="right aligned">1</td>
					</tr>
					<tr>
						<td>買午餐</td>
						<td>Ａ</td>
						<td class="right aligned">1</td>
					</tr>
					<tr>
						<td>買晚餐</td>
						<td>Ａ</td>
						<td class="right aligned">1</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="column">
			<table class="ui selectable basic table">
				<thead>
					<tr>
						<th>Mission hosted</th>
						<th>Status</th>
						<th class="right aligned">Tools</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>修電腦</td>
						<td>Done</td>
						<td class="right aligned">1</td>
					</tr>
					<tr>
						<td>修電腦</td>
						<td>Done</td>
						<td class="right aligned">1</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>