<html ng-app="myApp">
	<head>
		<!-- All css and scripts used -->
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<base href="/">
		<!-- Front-End Packages -->
		<script src="/underscore/underscore-min.js"></script>
		<script src="/jquery/dist/jquery.js"></script>
		<script src="/angular/angular.min.js"></script>
		<script src="/angular-route/angular-route.min.js"></script>
		<script src="/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
		<script src="/ng-file-upload/ng-file-upload.min.js"></script>
		<script src="/ngSweetAlert/SweetAlert.min.js"></script>
		<script src="/sweetalert/dist/sweetalert.min.js"></script>

		<script src="/angular-scroll-glue/src/scrollglue.js"></script>
		<script src="/semantic/dist/semantic.min.js"></script>
		<script src="/semantic-ui-dropdown/dropdown.min.js"></script>
		<script src="/semantic-ui-sticky/sticky.min.js"></script>
		<script src="/semantic-ui-comment/comment.min.js"></script>
		<script src="/pickadate/lib/picker.js"></script>
		<script src="/pickadate/lib/picker.date.js"></script>
		<script src="/pickadate/lib/picker.time.js"></script>
		
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<!-- Controllers -->
		<script src="js/controllers.js"></script>
		<script src="js/createMissionController.js"></script>
		<script src="js/discoverController.js"></script>
		<script src="js/rankListController.js"></script>
		<script src="js/registerPageController.js"></script>
		<script src="js/userInfoController.js"></script>
		<script src="js/viewMissionController.js"></script>
		<script src="js/communityController.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/tablesort.js"></script>
		<script>
		var content = <%- JSON.stringify(userInfo)%>
		</script>
		<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/sweetalert/dist/sweetalert.css">
		<link rel="stylesheet" type="text/css" href="/pickadate/lib/themes/classic.css">
		<link rel="stylesheet" type="text/css" href="/pickadate/lib/themes/classic.time.css">
		<link rel="stylesheet" type="text/css" href="/pickadate/lib/themes/classic.date.css">
		<link rel="stylesheet" type="text/css" href="/semantic-ui-dropdown/dropdown.min.css">
		<link rel="stylesheet" type="text/css" href="/semantic-ui-sticky/sticky.min.css">
		<link rel="stylesheet" type="text/css" href="/semantic-ui-comment/comment.min.css">
		<style type="text/css">
			.mb{
				width: 15.28571429em;
				height: 14.28571429em;
			}
			.ui.rail{
				margin-top: 7em;
				height:215px;
				width:93px;
			}
			.ui.modal.login{
				background-color: rgba(138,138,154,0);
				width: 600;
			}
			.ui.teal>.content{
				color: white;
			}
			.ui.modal.login>.content{
					background-color: rgba(138,138,154,0);
				color: white;
			}
			.ui.modal.login>.content>form{
					background-color: rgba(138,138,154,0);
			}
			.ui.stacked.segment{
					background-color: rgba(138,138,154,0);
			}
			.ui.modal.login>.actions{
					background-color: rgba(138,138,154,0);
			}
			.ui.message{
					background-color: rgba(138,138,154,0);
			}

			[scroll-glue]{
				height: 200px;
				overflow-y: scroll;
				border: 1px solid gray;
			}
		</style>
	</head>
	<body ng-controller="AppCtrl">
		<div id="stick">
			<div class="ui rail">
				<div class="ui sticky">
					<div class="ui vertical labeled icon menu center aligned">
						<a class="item" ng-click="show_menu()">
							<i class="list layout icon"></i>
							Menu
						</a>
						<a class="item" >
							<i class="settings icon"></i>
							Language
						</a>
						<a class="item" ng-click="jump_login()" ng-hide="is_login">
							<i class="street view icon"></i>
							Login
						</a>
						<a class="item" ng-click="user_info()"  ng-show="is_login">
							<img class="ui avatar image" src="{{photo}}">
							<div class="" ng-bind="local_user"></div>
						</a>
						<a class="item" ng-click="view_notifications()"  ng-show="is_login">
							<i class="mail view icon"></i>
							Notifications
						</a>
						<a class="item" ng-click="logout()" ng-show="is_login">
							<i class="wheelchair icon"></i>
							Logout
						</a>
					</div>
				</div>
			</div>
			<!-- main menu modal -->
			<div class="ui basic modal menu">
				<div class="ui equal width grid">
					<div class="row">
						<div class="column center aligned">
							<div class="ui cancel basic inverted button mb" >
								<a href="/home">
									<div class="row"><i class="massive home icon"></i></div>
									<div class="row"><h1>Home</h1></div>
								</a>
							</div>
						</div>
						<div class="column  center aligned" >
							<div class="ui cancel basic inverted button mb" ng-click="user_info()">
								<div class="row"><i class="massive user icon"></i></div>
								<div class="row"><h1>User Info</h1></div>
							</div>
						</div>
						<div class="column  center aligned">
							<a href="/mission_list">
								<div class="ui cancel basic inverted button mb">
									<div class="row"><i class="massive browser icon"></i></div>
									<div class="row"><h1>Missions</h1></div>
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="column  center aligned">
							<div class="ui cancel basic inverted button mb" ng-click="create_mission()">
								<div class="row"><i class="massive legal icon"></i></div>
								<div class="row"><h1>Start tooling</h1></div>
							</div>
						</div>
						<div class="column  center aligned" >
							<a href="/community">
								<div class="ui cancel basic inverted button mb">
									<div class="row"><i class="massive users icon"></i></div>
									<div class="row"><h1>Community</h1></div>
								</div>
							</a>
						</div>
						<div class="column  center aligned">
							<a href="/rank_list">
								<div class="ui cancel basic inverted button mb">
									<div class="row"><i class="massive sort content ascending  icon"></i></div>
									<div class="row"><h1>Ranking</h1></div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- login -->
			<div class="ui modal login">
				<div class=" content">
					<div class="ui middle aligned center aligned grid">
						<div class="column">
							<h2 class="ui teal image header">
							<img src="assets/images/tool.png" class="image">
							<div class="content">
								Login
							</div>
							<h2>
							<form class="ui large form">
								<div class="ui stacked segment">
									<div class="field">
										<div class="ui left icon  input">
											<i class="user icon"></i>
											<input type="text" name="email" placeholder="Account" ng-model="account" style="background: transparent;
											border-color: white;">
										</div>
									</div>
									<div class="field">
										<div class="ui left icon input">
											<i class="lock icon"></i>
											<input type="password" name="password" placeholder="Password" ng-model="password" style="background: transparent;
											border-color: white;">
										</div>
									</div>
									<div class="ui fluid large basic inverted submit button" ng-click="login()">Login</div>
								</div>
								<div class="ui error message"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="actions">
					<div class="ui message">
						New to us? <a href="/register_page" ng-click="jump_register()">Sign Up</a>
					</div>
				</div>
			</div>
			<!-- view notifications -->
			<div class="ui modal notification">
				<div class="header">Notifications</div>
				<div class="content">
					<div class="ui list">
						<div class="item">
							<img class="ui avatar image" src="assets/images/tool.png">
							<div class="content">
								<a class="header">testMission</a>
								<div class="description">You're fired!</div>
							</div>
						</div>
					</div>
				</div>
				<div class="actions">
					<div class="ui cancel button">Close</div>
				</div>
			</div>
			<!-- add mission -->
			<div class="ui modal mission">
				<i class="close icon"></i>
				<div class=" content">
					<div class="ui middle aligned center aligned grid">
						<div class="column">
							<h2 class="ui teal image header">
							<img src="assets/images/tool.png" class="image">
							<div class="content">
								Start tooling
							</div>
							</h2>
							<form class="ui form">
								<h4 class="ui dividing header">Mission Title</h4>
								<div class="field">
									<div class="fields">
										<input ng-model="title" type="text" placeholder="title">
									</div>
								</div>
								<div class="field">
									<label>Description</label>
									<div class="ui segment">
										<textarea ng-model="content"></textarea>
									</div>
								</div>
								<h4 class="ui dividing header">Locations</h4>
								<div class="field">
									<label>Where to tool you or be tooled</label>
									<select ng-model="location" class="ui fluid search dropdown" multiple="">
										<option value="">Add your own if not here</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select>
								</div>
								<h4 class="ui dividing header">Required skills</h4>
								<div class="field">
									<select class="ui fluid search dropdown" multiple="" ng-model="skills">
										<option value="">Add your own if not here</option>
										<option value="1">駝獸</option>
										<option value="2">修電腦</option>
										<option value="3">寫作業</option>
									</select>
								</div>
								<h4 class="ui dividing header">Schedule</h4>
								<div class="field">
									<label>Start time</label>
									<div class="fields">
										<input type="text" class="datepicker" placeholder="Pick the date the task should start" ng-model="start_time">
									</div>
									<label>Deadline</label>
									<div class="fields">
										<input type="text" class="datepicker" placeholder="Deadline" ng-model="expire_time">
									</div>
								</div>
								<div class="ui button" tabindex="0" ng-click="add_mission()">GO</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- main container -->
			<div id="stick" ng-view="">
				
			</div>
			<div class="ui vertical footer segment container">
				<div class="ui center aligned container">
					<div class="ui  section divider"></div>
					<img src="/assets/images/tool.png" class="ui centered mini image">
					<div class="ui horizontal small divided link list">
						<a class="item" href="/home" >Hello, toolmans.</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>