<html ng-app="myApp">
	<head>
		<!-- All css and scripts used -->
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<base href="/">
		<script src="../js/lib/underscore/underscore-min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/services.js"></script>
		<script src="../js/controllers.js"></script>
		<script src="../js/filters.js"></script>
		<script src="../js/directives.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/dist/semantic.min.css">
		<script src="../css/dist/semantic.min.js"></script>
		<script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>
		
		
		<link rel="stylesheet" type="text/css" href="../css/UI-Dropdown/dropdown.min.css">
		<script src="../css/UI-Dropdown/dropdown.min.js"></script>
	</head>
	<body ng-controller="AppCtrl">
		<div class="ui mini menu">
			<a class="item" href="/home">Home</a>
			<a class="item" href="/discover">Discover</a>
			<a class="item" href="/create_mission">Start tooling</a>
			<a class="item" href="/user_info">Personal Info</a>
			<a class="item" href="/mission_list">Missions</a>
			<a class="item" href="/rank_list">Rankings</a>
			<a class="item" href="/testPopup">testPopup</a>
			<div class="right menu">
				<div class="ui dropdown item">
					Language <i class="dropdown icon"></i>
					<div class="menu">
						<a class="item">English</a>
						<a class="item">TW</a>
					</div>
				</div>
				<div class="item">
					<div class="ui primary button" ng-click="jump_login()">Sign In</div>
				</div>
			</div>
		</div>
		<div class="ui modal">
			<i class="close icon"></i>

			<div class=" content">
				<div class="ui middle aligned center aligned grid">
					<div class="column">
						<h2 class="ui teal image header">
						<img src="assets/images/tool.png" class="image">
						<div class="content">
							Log-in to your account
						</div>
						</h2>
						<form class="ui large form">
							<div class="ui stacked segment">
								<div class="field">
									<div class="ui left icon input">
										<i class="user icon"></i>
										<input type="text" name="email" placeholder="Account">
									</div>
								</div>
								<div class="field">
									<div class="ui left icon input">
										<i class="lock icon"></i>
										<input type="password" name="password" placeholder="Password">
									</div>
								</div>
								<div class="ui fluid large teal submit button">Login</div>
							</div>
							<div class="ui error message"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="ui message">
					New to us? <a href="/register_page" ng-click="jump_register()">Sign Up</a>
				</div>
			</div>
		</div>
		<!-- 		<div class="ui basic modal">
				<i class="close icon"></i>
				<div class="header">
						Archive Old Messages
				</div>
				<div class="image content">
						<div class="image">
								<i class="archive icon"></i>
						</div>
						<div class="description">
								<p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
						</div>
				</div>
				<div class="actions">
						<div class="two fluid ui inverted buttons">
								<div class="ui cancel red basic inverted button">
										<i class="remove icon"></i>
										No
								</div>
								<div class="ui ok green basic inverted button">
										<i class="checkmark icon"></i>
										Yes
								</div>
						</div>
				</div>
		</div> -->
		<!-- The div for partials -->
		<div class = "container">
			<div ng-view="">
				
			</div>
		</div>
	</body>
</html>